<section class="portfolios-area fix" id="portfolios">
    <div class="container_auto">
        
    <!-- Section Title -->
        
        <div class="section-title text-center">
            <h2>Brag Section</h2>
            <div class="line-centered"></div>
        </div>
                    
    <!-- Filters -->
        
        <ul class="filters-tab clearfix">
            <li class="filter active" data-filter="all">All</li>
            <li class="filter" data-filter=".code">Code</li>
            <li class="filter" data-filter=".branding">Branding</li>
            <li class="filter" data-filter=".social">Social</li>
            <li class="filter" data-filter=".miscellaneous">Miscellaneous</li>
        </ul>
        
    <!-- Images Container -->

    <div class="images-container wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="filter-list clearfix" id="MixItUpB614D0">
         
    <!-- Portfolio Item - Summarise -->   

            <div class="single-portfolio mix code" style="display: inline-block;" data-bound="">
                <figure class="image">
                    <a href="#" title="Code">
                        <%= image_tag ("portfolio_summarise_code.png") %>
                    </a>
                    <div class="portfolio-hover">
                        <div class="hover-table">
                            <div class="hover-tablecell">
                                <h1>Summarise App</h1>
                                <small>Online learning tool built on Rails with AngularJS and SASS</small>
                                </br></br>

                                <a href="https://github.com/digsby06/SummariseApp" target="_blank"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
                            
    <!-- Single Portfolio Item End -->

    <!-- Portfolio Item - DEFY -->
                            
            <div class="single-portfolio mix Corporate miscellaneous" style="display: inline-block;" data-bound="">
                <figure class="image">
                    <a href="#" title="Miscellaneous">
                       <%= image_tag ("portfolio_defy_package.png") %>
                    </a>
                    <div class="portfolio-hover">
                        <div class="hover-table">
                            <div class="hover-tablecell">
                                <h1>DEFY Clothing</h1>
                                <small>Package design for influencer outreach</small>
                                </br></br>
                                <a href="http://suchandsuchsite.com/?post_type=work&p=220" target="_blank"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>

    <!-- Single Portfolio Item End -->
                            
    <!-- Portfolio Item - Bandcamp -->

            <div class="single-portfolio mix branding" style="display: inline-block;" data-bound="">
                <figure class="image">
                    <a href="#" title="Branding">
                       <%= image_tag ("portfolio_bandcamp_brand.png") %>
                    </a>
                    <div class="portfolio-hover">
                        <div class="hover-table">
                            <div class="hover-tablecell">
                                <h1>DJ BANDCAMP</h1>
                                <small>Brand development for DJ of the NBA's Indiana Pacers </small>
                                </br></br>
                                <a href="http://djbandcamp.com/" target="_blank"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>

    <!-- Single Portfolio Item End -->

    <!-- Portfolio Item - JCI -->
                            
            <div class="single-portfolio mix social" style="display: inline-block;" data-bound="">
                <figure class="image">
                    <a href="#" title="Social">
                       <%= image_tag ("portfolio_jci_social.png") %>
                    </a>
                    <div class="portfolio-hover">
                        <div class="hover-table">
                            <div class="hover-tablecell">
                              <h1>Johnson Controls</h1>
                                <small>Social content created for global industrial business leader.</small>
                                </br></br>
                                <a href="https://www.johnsoncontrols.com/" target="_blank"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>

    <!-- Single Portfolio Item End -->

    <!-- Portfolio Item - American Honors -->

            <div class="single-portfolio mix Creative branding" style="display: inline-block;" data-bound="">
                 <figure class="image">
                    <a href="#" title="Branding">
                       <%= image_tag ("portfolio_ah_brand.png") %>
                    </a>
                    <div class="portfolio-hover">
                        <div class="hover-table">
                            <div class="hover-tablecell">
                                <h1>American Honors Rebrand</h1>
                                <small>Logo redesign for education-tech startup</small>
                                </br></br>
                                <a href="https://americanhonors.org/" target="_blank"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>

    <!-- Single Portfolio Item End -->

    <!-- Portfolio Item - Hoist -->

            <div class="single-portfolio mix social" style="display: inline-block;" data-bound="">
                  <figure class="image">
                    <a href="#" title="Social">
                       <%= image_tag ("portfolio_hoist_social.png") %>
                    </a>
                    <div class="portfolio-hover">
                        <div class="hover-table">
                            <div class="hover-tablecell">
                              
                                <h1>Hoist</h1>
                                <small>Social content for rapid rehydration drink</small>
                                </br></br>

                                <a href="https://www.drinkhoist.com/" target="_blank"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>

    <!-- Single Portfolio Item End -->

    <!-- Portfolio Item - KSI -->

            <div class="single-portfolio mix Creative code" style="display: inline-block;" data-bound="">
                 <figure class="image">
                    <a href="#" title="Code">
                       <%= image_tag ("portfolio_ksi_code.png") %>
                    </a>
                    <div class="portfolio-hover">
                        <div class="hover-table">
                            <div class="hover-tablecell">
                                <h1>KSI Email Redesign</h1>
                                <small>Responsive template developed for banking and security equipment company</small>
                                </br></br>

                                <a href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>

    <!-- Single Portfolio Item End -->

    <!-- Portfolio Item - RML -->

            <div class="single-portfolio mix Creative branding" style="display: inline-block;" data-bound="">
                 <figure class="image">
                    <a href="#" title="Branding">
                       <%= image_tag ("portfolio_rml_brand.png") %>
                    </a>
                    <div class="portfolio-hover">
                        <div class="hover-table">
                            <div class="hover-tablecell">
                                <h1>Respect My Lifestlye</h1>
                                <small>Logo design for apparel shop.</small>
                                </br></br>
                                <a href="https://www.instagram.com/rmlbrand/" target="_blank"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>

    <!-- Single Portfolio Item End -->

    <!-- Portfolio Item - AH Video -->

            <div class="single-portfolio mix Creative miscellaneous" style="display: inline-block;" data-bound="">
                <figure class="image">
                    <a href="#" title="Miscellaneous">
                       <%= image_tag ("portfolio_ah_video.png") %>
                    </a>
                    <div class="portfolio-hover">
                        <div class="hover-table">
                            <div class="hover-tablecell">
                                <h1>AH Student Video</h1>
                                <small>Video production and editing for American Honors. </small>
                                </br></br>
                                <a href="https://vimeo.com/87201009" target="_blank"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>

    <!-- Single Portfolio Item End -->
        </div>
    </div>
    </div>
</section>